/* colors 
black: #000;
purpleD: #6118fb;
purpleL: #d4bfff;
white: #fff; */
h1,
h2,
h3 {
  text-align: center;
  text-decoration: none;
  color: #000;
}

h2,
h3 {
  font-size: 2em;
}

body {
  min-height: 60rem;
  margin-top: 3rem;
  flex-wrap: nowrap;
  flex-direction: column;
}

.bg-dark {
  background-color: #000;
}
.navbar-brand img {
  width: 20%;
  margin-left: 20px;
}

.btn {
  color: #fff;
  border-color: #6118fb;
  background-color: #000;
}

.btn-rounded {
  margin: 5px;
}

.new-post,
.list-post,
.friends {
  /* background-color: #6118fb; */
  border-radius: 5px;
  margin: 3rem;

  text-align: center;
}

.card {
  margin-top: 3rem;
}

.card-img-top {
  overflow: hidden;
  height: 15rem;
  object-fit: cover;
}

/* filter  */

.filterContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.btnFilter {
  border-radius: 5px;
}

.filterActive {
  background-color: #6118fb;
}
